@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Citas Medicas</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a la plata de forma de citas medicas</h2>
        <p>
            En esta plataforma se busca llevar un registro de la citas de los pacientes así como el historial de recetas.
        </p>
    </div>
</div>